---
import Navigation from '../components/Navigation.astro';
import PageHeader from '../components/PageHeader.astro';
import '../styles/main.scss';
import { MenuIcon, SearchIcon } from 'astro-feather';

const { pageTitle, name = '', description='' } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>WPCare</title>
  </head>
  <body class="app">
    <header class="header">
      <button class="btn btn-icon js__menuicon">
        <MenuIcon size="24"/>
      </button>
      <a href="/">
        <h1 class="header__title">WPCare</h1>
      </a>

      <form>
        <div class="inputgroup">
          <input class="inputgroup--input" type="text" name="search" id="header_search" placeholder="Buscar...">
          <SearchIcon size="16" />
        </div>
      </form>
      
    </header>

    <Navigation />
    
    <main class="main">
      <section class={name}>
        <PageHeader pageTitle={pageTitle} name={name}, description={description} />
        <div class="content">

          <slot />

        </div>
      </section>
    </main>
  </body>
</html>
